.app {
  display: flex;
  flex-direction: row;
  color: white;
  min-height: 100vh;
  @media screen and (orientation:portrait) {
    & {
      flex-direction: column;
    }
  }
  &__intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #A62265;
  }
  &__playground {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3a9173;
  }
}
